@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.btn{
    background-color: #B3194A;
    padding: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
}